<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
    <title>{{ title }}</title>

    <!-- Common plugins -->
    <link rel="stylesheet" href="{{ url_for('.static', filename='css/bootstrap.min.css') }}">
    <link rel="stylesheet" href="{{ url_for('.static', filename='css/simple-line-icons.css') }}">
    <link rel="stylesheet" href="{{ url_for('.static', filename='css/font-awesome.min.css') }}">
    <link rel="stylesheet" href="{{ url_for('.static', filename='css/pace.css') }}">
    <link rel="stylesheet" href="{{ url_for('.static', filename='css/landing-style.css') }}">
    <link rel="stylesheet" href="{{ url_for('.static', filename='css/help.css') }}">
    <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
    <script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
    <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
    <script src="http://getbootstrap.com/dist/js/bootstrap.min.js"></script>
</head>
<body class="float-landing" data-spy="scroll" data-offset="70" data-taget=".navbar-default">
        <nav class="navbar navbar-default navbar-fixed-top">
            <div class="container">
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
                        <span class="sr-only">Toggle navigation</span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                    <a class="navbar-brand" href="/main">TravelPlanner</a>
                </div>
                <div id="navbar" class="navbar-collapse collapse">
                    <ul class="nav navbar-nav  smooth-scroll navbar-right">
                        <li><a href="/admin">Admin Dashboard<span class="badge">{{ users|count }}</span></a></a></li>
                        <li class="active"><a href="/admin/users">Users</a></li>
                        <li><a href="/admin/trips">Trip Plans</a></li>
                        <li><a href="/admin/settings/{{current_user.username}}">Settings</a></li>
                        <li class="nav-button"><a href="/main">Menu</a></li>
                        <li class="nav-button"><a href="/logout">Log out</a></li>
                    </ul>
                </div>
            </div>
        </nav>
        <section id="features" class="features-section">
            <div class="container-fluid">
                <div class="row">
                    <div class="col-sm-8 col-sm-offset-2 text-center">
                        <div class="card">
                            <div class="dropdown text-left">
                                <button class="dropdown btn dropdown-toggle" type="button" data-toggle="dropdown">Sort
                                <span class="caret"></span></button>
                                <div class="dropdown-menu">
                                    <ul>
                                        <li><a href="/admin/users">View All</a></li>
                                        <li><a href="/admin/users/sort/admin">Admin</a></li>
                                        <li><a href="/admin/users/sort/moderator">Moderator</a></li>
                                        <li><a href="/admin/users/sort/member">Member</a></li>
                                    </ul>
                                </div>
                            </div>
                            <form action="/admin/users/remove" method="POST" name="deletelist">
                                <a href="/admin/users/create" class="btn btn-info pull-left">Add User</a>
                                <table id="mytable" class="table table-hover">
                                    <thead>
                                        <tr>
                                            <th colspan="2" style="text-align: center">Action</th>
                                            <th>ID</th>
                                            <th>Username</th>
                                            <th>Email</th>
                                            <th>First Name</th>
                                            <th>Last Name</th>
                                            <th>Role</th>
                                        </tr>
                                    </thead>
                                    {% for r in result %}
                                    <tbody>
                                        <tr>
                                            <td><a href="/admin/users/edit/{{r.username}}" class="btn btn-success btn-xs" style="text-align: center"><span class="glyphicon glyphicon-pencil"></span></a></td>
                                            {% if r.role_id==1%}
                                            <td style="text-align: center"><a class="btn btn-danger btn-xs" style="text-align: center" disabled readonly><span class="glyphicon glyphicon-trash"></span></a></td>
                                            {% else %}
                                            <td style="text-align: center"><a href="/admin/users/remove/{{r.username}}" class="btn btn-danger btn-xs" style="text-align: center"><span class="glyphicon glyphicon-trash"></span></a></td>
                                            {% endif %}
                                            <td>{{r.id}}</td>
                                            <td>{{r.username}}</td>
                                            <td>{{r.email}}</td>
                                            <td>{{r.first_name}}</td>
                                            <td>{{r.last_name}}</td>
                                            {% if r.role_id==1 %}
                                            <td>Admin</td>
                                            {% elif r.role_id==2 %}
                                            <td>Moderator</td>
                                            {% else %}
                                            <td>Member</td>
                                            {% endif %}
                                        </tr>
                                    </tbody>
                                    <script>

                                    </script>
                                    {% endfor %}
                                </table>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <div class="container text-center">
            <nav class="navbar navbar-default navbar-fixed-bottom">
                <ul class="pagination" style="alignment: center">
                    <li class="disabled"><a href="#"><span class="glyphicon glyphicon-chevron-left"></span></a></li>
                    <li class="active"><a href="#">1</a></li>
                    <li><a href="#">2</a></li>
                    <li><a href="#">3</a></li>
                    <li><a href="#">4</a></li>
                    <li><a href="#">5</a></li>
                    <li><a href="#"><span class="glyphicon glyphicon-chevron-right"></span></a></li>
                </ul>
            </nav>
        </div>

    <!--Common plugins-->
        <script type="text/javascript" src="{{ url_for('.static', filename='js/jquery.min.js') }}"></script>

        <script type="text/javascript" src="{{ url_for('.static', filename='js/bootstrap.min.js') }}"></script>

        <script type="text/javascript" src="{{ url_for('.static', filename='js/help.js') }}"></script>

        <script type="text/javascript" src="{{ url_for('.static', filename='js/sweetalert.min.js') }}"></script>

        <script type="text/javascript" src="{{ url_for('.static', filename='js/pace.min.js') }}"></script>

        <script type="text/javascript" src="{{ url_for('.static', filename='js/landing.custom.js') }}"></script>

        <script type="text/javascript" src="{{ url_for('.static', filename='js/maintainscroll.jquery.min.js') }}"></script>

        <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.3/jquery.min.js"></script>
        <script>  $(document).ready(function(){
                    $("#mytable #checkall").click(function () {
                        if ($("#mytable #checkall").is(':checked')) {
                            $("#mytable input[type=checkbox]").each(function () {
                                $(this).prop("checked", true);
                            });

                        } else {
                            $("#mytable input[type=checkbox]").each(function () {
                                $(this).prop("checked", false);
                            });
                        }
                    });

                     $("[data-toggle=tooltip]").tooltip();
                 });
        </script>
        <script>
            function ConfirmDelete()
            {
              var x = confirm("Are you sure you want to delete?");
              if (x)
                  return true;
              else
                return false;
            }
        </script>
</body>
</html>
