<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
        <title>{{ title }}</title>
        <link rel="shortcut icon" href="{{ url_for('.static', filename='images/favicon.ico') }}" type="image/x-icon">
        <!-- Common plugins -->
        <link rel="stylesheet" href="{{ url_for('.static', filename='css/bootstrap.min.css') }}">
        <link rel="stylesheet" href="{{ url_for('.static', filename='css/simple-line-icons.css') }}">
        <link rel="stylesheet" href="{{ url_for('.static', filename='css/font-awesome.min.css') }}">
        <link rel="stylesheet" href="{{ url_for('.static', filename='css/pace.css') }}">
        <link rel="stylesheet" href="{{ url_for('.static', filename='css/landing-style.css') }}">
        <link rel="stylesheet" href="{{ url_for('.static', filename='css/help.css') }}">
        <link rel="stylesheet" href="{{ url_for('.static', filename='css/sweetalert.css') }}">
        <link rel="stylesheet" href="{{ url_for('.static', filename='css/itenerary.css') }}">
        <link rel="stylesheet" href="{{ url_for('.static', filename='css/search-box.css') }}">

        {% block styles %}
        {% endblock %}

        <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
        <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
        <!--[if lt IE 9]>
          <script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
          <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
        <![endif]-->
    </head>
    <body class="float-landing" data-spy="scroll" data-offset="70" data-taget=".navbar-default">
        <!-- Static navbar -->
        <nav class="navbar navbar-default navbar-fixed-top">
            <div class="container">
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
                        <span class="sr-only">Toggle navigation</span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                    <a class="navbar-brand" href="/main/">TravelPlanner</a>
                </div>
                <div id="navbar" class="navbar-collapse collapse">
                    <ul class="nav navbar-nav  smooth-scroll navbar-right">
                        <li>
                            <div class="container" id="se">
                                <div id="wrap">
                                  <form action="/main/siteSearch" method="get">
                                      <input id="search" name="search_1" type="text" placeholder="Search the site">
                                      <input id="search_submit" name="search_submit" type="submit">
                                  </form>
                                </div>
                            </div>
                        </li>
                        <li><a href="/main/#intro">Intro</a></li>
                        <li><a href="/main/#features">Features</a></li>
                        <li><a href="/main/#tripPlans">Trip Plans</a></li>
                        <li><a href="/main/about">Team</a></li>
                        <li><a href="/main/response">Response</a></li>
                        <li class="nav-button"><a href="{{ label[2] }}">{{ label[0] }}</a></li>
                        <li class="nav-button"><a href="{{ label[3] }}">{{ label[1] }}</a></li>
                    </ul>
                </div><!--/.nav-collapse -->
            </div><!--/.container-fluid -->
        </nav>
        {% block content %}
        {% endblock %}
        <footer class="footer">
            <div class="container text-center">
                <span>&copy; Copyright 2016-2017. MSU-IIT Computer Science Department</span>
            </div>
        </footer>

        <!--Common plugins-->
        <script type="text/javascript" src="{{ url_for('.static', filename='js/jquery.min.js') }}"></script>

        <script type="text/javascript" src="{{ url_for('.static', filename='js/bootstrap.min.js') }}"></script>

        <script type="text/javascript" src="{{ url_for('.static', filename='js/help.js') }}"></script>

        <script type="text/javascript" src="{{ url_for('.static', filename='js/sweetalert.min.js') }}"></script>

        <script type="text/javascript" src="{{ url_for('.static', filename='js/pace.min.js') }}"></script>

        <script type="text/javascript" src="{{ url_for('.static', filename='js/landing.custom.js') }}"></script>
        
        <script type="text/javascript" src="{{ url_for('.static', filename='js/maintainscroll.jquery.min.js') }}"></script>

        
    </body>
</html>
