{% extends "base.html" %}

{% block styles %}
    <!-- Animation library for notifications   -->
    <link rel="stylesheet" href="{{ url_for('.static', filename='css/animate.min.css') }}">

    <!--  Light Bootstrap Table core CSS  -->  
   
    <link rel="stylesheet" href="{{ url_for('.static', filename='css/light-version.css') }}">
    <!--  CSS for Demo Purpose, don't include it in your project     -->
    <link rel="stylesheet" href="{{ url_for('.static', filename='css//demo.css') }}">

    <!--     Fonts and icons     -->
    <link rel="stylesheet" type='text/css' href="http://fonts.googleapis.com/css?family=Roboto:400,700,300">
    <link rel="stylesheet" href="{{ url_for('.static', filename='css/pe-icon-7-stroke.css') }}">
    <style type="text/css">


    </style>
 {% endblock %}
{% block content %}
<section id="intro" class="intro-section" style="background-image: url('{{ url_for('.static', filename='images/misc/blur0.jpg') }}'); background-repeat: no-repeat; background-size: contain; background-position: center; background-size: 1500px 660px;">
            <div class="container">
                <div class="row">
                    <div class="col-md-8 col-md-offset-2 text-center">
                        <h1><span style="color: #ffffff;">Search the site</span></h1>
                        <h4 style="color: #D3D3D3;">
                            Find more Trips and the users who made them.
                        </h4>
                    </div>
                </div>
            </div>
        </section>
        <br>
    <section>
	<div class="container">
	<div class="row">
        <h3>Returned Result for Trips</h3>
        <div class="text-center">
        <ul class="pagination pagination-lg">
            <li><a href="javascript:void(0)" onclick="trips_plans_for_main_search('{{ stry }}', 1)">&laquo;</a></li>
            {% for i in range(0,numm) %}
            <li><a href="javascript:void(0)" onclick="trips_plans_for_main_search('{{ stry }}', {{ loop.index }})">{{ loop.index }}</a></li>
            {% endfor %}
            <li><a href="javascript:void(0)" onclick="trips_plans_for_main_search('{{ stry }}', {{ numm }})">&raquo;</a></li>
        </ul>
        </div>
        <div id="views_res">
        {% for trip in trips.items %}
            <a href="/main/view/{{ trip.tripName }}" target="_blank">
                        <div class="col-sm-3 text-center">
                            <div class="container" style="display:inline; width:100%;">
                                <div class="panel panel-default bootcards-media" style="width:100%;"> 
                                    <div class="panel-heading" align="left" style="width: 100%;">{{ trip.tripName }}</div>
                                    <div class="panel-body" style="width: 270px; height: 125px;" align="center">
                                    <img style="height: 110%; width: 110%; object-fit:contain;" src="{{ url_for('trip_blueprint.static', filename='images/trips/'+trip.img_thumbnail ) }} "/></div>
                                    <div class="panel-footer" align="left" style="display: inline-block; width: 100%;">
                                        <div class="row">
                                            &nbsp; From: {{ trip.tripDateFrom }} 
                                        </div>
                                        <div class="row">
                                            &nbsp; To: {{ trip.tripDateTo }}
                                            &nbsp; <p class="fa fa-eye" aria-hidden="true"></p> {{ trip.viewsNum }} 
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        </a>
        {% endfor %}
        </div>
    </div>

    </div>
    </section>
    

{% endblock %} 