{% extends 'base1.html' %}
{% import "bootstrap/wtf.html" as wtf %}

{% block styles %}
    <link rel='stylesheet prefetch' href='https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.1.8/components/icon.min.css'>
{% endblock %}

{% block scripts %}
    <script src="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.2.10/semantic.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.2.10/semantic.min.js"></script>
{% endblock %}

{% block content %}
        <div class="content">
            <div class="container-fluid">
                <div class="row">
                    <div class="col-md-8">
                        <div class="card">
                            <div class="header">
                                <h4 class="title">{{ trip.tripName }} Itineraries</h4>
                            </div>
                                <div class="row">
                                    {% for itinerary in itineraries %}
                                    <div class="col-sm-3 text-center">
                                    <div class="container" style="display:inline; width:100%;">
                                    <div class="panel panel-default bootcards-media" style="width:100%;">
                                    <div class="panel-heading" align="center" style="width: 100%;">
                                        {{ itinerary.itineraryName }}
                                        <a href="/trips/{{ trip.tripName }}/{{ itinerary.itineraryName }}/edit" class="btn btn-primary" style="display: block; margin: 0 auto;">Edit</a>
                                    </div>
                                    <div class="panel-body" style="width: 100%; height: 100%;" align="center">
                                    <img style="height: 100%; width: 100%; object-fit:contain;" src="https://i.ytimg.com/vi/QGiJFumHUPo/maxresdefault.jpg"/></div>
                                    <div class="panel-footer" align="center" style="display: inline-block; width: 100%;">
                                        <div class="row">
                                              Location: {{ itinerary.itineraryLocation }}
                                        </div>
                                        <div class="row">
                                              Date: {{ itinerary.itineraryDate }}
                                        </div>
                                        <div class="row">
                                              Description: {{ itinerary.itineraryDesc }}
                                        </div>
                                        <div class="row">
                                             Time: {{ itinerary.itineraryTime }}
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                                    {% endfor %}
                                </div>
                            </div>
                        </div>
                    </div>
                    <a href="/trips" class="btn btn-primary"> Back to Trips </a>
                </div>
            </div>

{% endblock %}